@import "tailwindcss";
body{
    background: #111;
    color: white;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
}
.monospace{
    font-family: monospace;
}

